<p id="notice"><%= notice %></p>

<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<%= @organisation.name unless @organisation == nil %>
</p>
<ul>
	<% if @organisations != nil %>
		<% @organisations.each do |organisation| %>
			<li>
				<%= organisation.name %>
				<a href="">Edit</a>
				<a href="">Join</a>
			</li>
		<% end %>
	<% end %>
</ul>
<p>
	<%= link_to 'New Organisation', new_organisation_path %>
</p>
<p>
	<%= link_to 'Edit', edit_user_path(@user) %> |
</p>
<p>
	<%= link_to 'Back', users_path %>
</p>
